<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>
<h1>Table Users</h1>
<br>
<table border="1">
    <tr>
        <th>name</th>
        <th>last_name</th>
        <th>age</th>
    </tr>

    <div th:each="users : ${users}">
        <td th:utext="${users.name}">name</td>
        <td th:utext="${users.last_name}">last_name</td>
        <td th:utext="${users.age}">age</td>
    </div>

</table>

</body>
</html>