<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
<!--    <style>table th, table td {-->
<!--        padding: 5px;-->
<!--    }</style>-->
</head>
<body>
<!--<h1>Table Users</h1>-->
<!--<br>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>name</th>-->
<!--        <th>lastName</th>-->
<!--        <th>age</th>-->
<!--    </tr>-->

<!--    <tr th:each="lst : ${list}">-->
<!--        <td th:utext="${lst.name}">name</td>-->
<!--        <td th:utext="${lst.lastName}">lastName</td>-->
<!--        <td th:utext="${lst.age}">age</td>-->
<!--    </tr>-->

<!--</table>-->

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}{id=${person.getId()}}}" th:text="${person.getName()}">user</a>
</div>

</body>
</html>